.my-cntr{
    margin-top: 4.5rem!important;
}

.price-label {
    justify-content: center;
    align-items: center;
}

.menu-card {
    padding-top: 4px;
    padding-bottom: 4px;
}


.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#fec400;transition: 0.2s;}
.nav-item:active::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:active{color:#fec400;}
.nav-link{padding:15px 7px;transition:0.2s;}

ul.navbar-nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.navbar-nav li {
    display: inline-block;
    float: none;
}

// @media (min-width: 0px)
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}