.my-cntr {
    margin-top: 4.5rem !important;
}

.top-padding {
    padding-top: 20px;
}

.price-label {
    justify-content: center;
    align-items: center;
}

.menu-card {
    padding-top: 8px;
    padding-bottom: 8px;
}

.card {
    padding-bottom: 30px !important;
    background: #fffffb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    background: #222222;
}
.nav-item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: #fec400;
    transition: 0.2s;
}
.nav-item:active::after {
    width: 100%;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:active {
    color: #fec400;
}
.nav-link {
    padding: 15px 7px;
    transition: 0.2s;
}

ul.navbar-nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.navbar-nav li {
    display: inline-block;
    float: none;
}

// @media (min-width: 0px)
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}

.img-col {
    padding-left: 0px;
    padding-right: 5px;
    margin-left: -17px;
    margin-top: -17px;
}

.img {
    width: 100%;
    height: 100%;
    // min-height: 100px;
    // min-width: 100px;
    border-top-left-radius: 5px;
    background-image: url("https://png.pngtree.com/png-vector/20190830/ourlarge/pngtree-food-icon-design-vector-png-image_1708316.jpg");
    background-position: bottom center;
    background-size: cover;
}

.description {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 16px;
}
